/*Gallery*/
.gallery, .gallery ul, .gallery li {padding: 0; margin: 0; list-style-type: none;}
ul.gallery li {/* This block inherits mobile properties. 
    Define a size for the thumbnail blocks. */ 
    width:200px;
    height:200px;
    float:left; /* Sets each block side by side. */
    position:relative;
    overflow: hidden;
    }  
ul.gallery li img { /* This block inherits mobile properties. */
    width:auto;
    height:auto; /* This gallery method works best with square thumbnails. */
    }
ul.gallery ul {/* This block inherits mobile properties.*/
    }
ul.gallery ul li {/* The height and padding must add up to the height of the LI above.  */
    }
ul.gallery li:hover {
    overflow: visible;
}
ul.gallery li:hover img {/* Enlarge size of image when hovering. */
    /* Allow image's full dimensions to display. */
    width:400px;
    height:225px;
    /* Position it for ease of use. */
    position:relative;
    left:-25%; /* Center the image under the thumbnail. */
    top: -12px;
    z-index:300;
    /* Style the popup with these optional properites: */
    padding:0; 
    }
ul.gallery li:hover ul {/* Show the caption block in the popup. */
    /* Position the caption on top of the image. */
    position:relative;
    z-index:400;
    /* Style the caption block. */
    }
ul.gallery li:hover ul li {/* Allow the text to fill the block. */
    width:auto; 
    }


.gallery-test, .gallery-test ul, .gallery-test li { padding: 0; margin: 0; list-style-type: none; }
.gallery-test li {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    vertical-align: top;
    overflow: hidden;
    -webkit-transition: all 190ms ease-out;
    -moz-transition: all 190ms ease-out;
    -ms-transition: all 190ms ease-out;
    -o-transition: all 190ms ease-out;
    transition: all 190ms ease-out; 
}
.gallery-test li img {
    position: relative;
    top: -12px;
    left: -100px;
    -webkit-transition: all 190ms ease-out;
    -moz-transition: all 190ms ease-out;
    -ms-transition: all 190ms ease-out;
    -o-transition: all 190ms ease-out;
    transition: all 190ms ease-out; 
}
/*Caption*/
.gallery-test li ul {
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom:0;
    z-index: 350;
    -webkit-transition: all 190ms ease-out;
    -moz-transition: all 190ms ease-out;
    -ms-transition: all 190ms ease-out;
    -o-transition: all 190ms ease-out;
    transition: all 190ms ease-out; 
}
.gallery-test li ul li {
    position: absolute;
    bottom: 0;
    background-color: salmon;
    height: auto;
    -webkit-transition: all 190ms ease-out;
    -moz-transition: all 190ms ease-out;
    -ms-transition: all 190ms ease-out;
    -o-transition: all 190ms ease-out;
    transition: all 190ms ease-out; 
}
.gallery-test li:hover {overflow: visible;}
.gallery-test li:hover img {
    z-index: 400;

}
.gallery-test li:hover ul {
    position: relative;
    width: auto;
    height: auto;
    z-index: 450;
}
.gallery-test li:hover ul li {
    position: relative;
}

