/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ADC6D6;
    text-shadow: none;
}

::selection {
    background: #ADC6D6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   m_obile
   ========================================================================== */
/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
 * apply a natural box layout model to all elements 
 */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
    text-decoration: none;
     padding: 0 9px; 
     border-bottom:2px dotted rgba(166, 42, 1, .5 ); 
     -webkit-border-radius: 5px 5px 0px 0px; 
     border-radius: 5px 5px 0px 0px;
     -webkit-transition: all 500ms linear;
     -moz-transition: all 500ms linear;
     -ms-transition: all 500ms linear;
     -o-transition: all 500ms linear;
     transition: all 500ms linear; 
}
a:link {color:#042148;}
a:visited {color:#042148;}
a:hover {color:#A62A01; background-color: rgba(104, 151, 182, .1);
    -webkit-box-shadow: 0 0 3px 3px rgba(104, 151, 182, .1);
    box-shadow: 0 0 3px 3px rgba(104, 151, 182, .1);
}
a:focus {color: #A62A01; outline:2px dotted #A62A01;}
a:active {color:#A62A01;}
a.current {color:#A62A01;}

header a { padding: 0;}

/*CSS3 Generator White Text Shadow*/
.textshadows {text-shadow: 0 0 10px #FFFFFF;}

.boxshadows 
{
    /*CSS3 Generator Box Shadow*/
    -webkit-box-shadow: 0 0 20px 10px rgba(128,128,128,.3);
    box-shadow: 0 0 20px 10px rgba(128,128,128,.3);
}
.boxshadows-light 
{
    /*I want these to default to white*/
    background-color: white;
    /*CSS3 Generator Box Shadow*/
    -webkit-box-shadow: 0 0 5px 1px rgba(4, 33, 72, .3);
    box-shadow: 0 0 5px 1px rgba(4, 33, 72, .3);
}
.pad {padding: 10px;}
.background.orange {background-color: #DF8101;}
.background.light-blue {background-color: #6897B6;}
.roundcorners { -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }

html { padding: 0 10px 25px 10px; }

body {
    font-family: 'Lato', sans-serif, helvetica, sans;
    font-size: 16px;
    line-height: 1.6em;
    color: #444444;
    background-color: #dadada;/*Added this color because needed a darker grey */
}

div#container {
    margin: 0 auto;
    /*padding: 0 20px 20px 20px;*/
    max-width:1080px; 
    min-width:320px;/*Default 320px*/ 
    background-color: #F3F3F3;
    /*border:1px solid #cccccc;  /*default: 1px solid #cccccc;*/
    /*
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: gray;
    /* My Stuff */
    /*Border Radius {I only want the bottom ones here*/
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
}
div#wrapper {padding: 0 20px;}

header, footer, nav#tools, nav#main, nav#skip, nav#legal
{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    /*border: 1px dashed black;*/
}
header { z-index: 222; }
footer {margin: 0 20px; padding-bottom: 20px; border-width: 2px 0 0 0; border-style: solid; border-color: #DADADA; }

/*The following have custom styles for the desktop version*/
/*These reset the above hyperlink styles for mobile*/
nav a {
     border: 0;
     -webkit-border-radius: 0px 0px 0px 0px; 
     border-radius: 0px 0px 0px 0px; 
}
nav ul {padding: 10px 10px 10px 40px; margin: 0;}






section#content
{
    margin: 0;
    padding: 0 10px;
}
/*Make Skip Top Menu Horizontal */
#skip ul, #skip li {padding: 0; margin: 0;}
#skip li {width: 50%;}
#skip a {padding: 5px 20px; width: 100%;}
#skip ul.horizontal { white-space: nowrap; text-align: center; }
#skip ul.horizontal li { position: relative; display: inline-block; vertical-align: top; }
#skip ul.horizontal li a { display: inline-block; text-decoration: none; }
/*Hacks for IE: ul .horizontal li { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; position: relative; }*/
































/*m_obile
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*des_ktop desktop */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

section#leftcolumn
{
    float: left;
}

section#rightcolumn
{
    float: right;
}

section#leftcolumn, section#rightcolumn
{
    width: 225px;
    margin: 5px;
}
/*Uncomment to make sidebars sticky
section#leftcolumn nav, section#rightcolumn nav
{
    position: fixed;
}
*/
section#content
{
    width: auto;
    margin-right: 225px;
}

footer
{
    clear: both; /*Has to do with columns*/
}

nav ul, nav li {padding: 0; margin: 0;}
nav a {padding: 5px 20px; margin: 0;}
footer a {padding: 0;}
/*Make Menus Horizontal */
ul.horizontal { white-space: nowrap; }
ul.horizontal li { position: relative; display: inline-block; vertical-align: top; }
ul.horizontal li a { display: block; text-decoration: none; }
/*Hacks for IE: ul .horizontal li { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; position: relative; }*/

/*Slide Out Menus*/
ul.horizontal li ul 
{ 
    display: none; 
    position: absolute; 
    top: 100%;
    z-index: 111;
    margin: 0;
    padding: 0;
}
ul.horizontal li:hover ul, ul.vertical li:hover ul
{ 
    background-color: rgba(255,255,255,1); 
}


ul.horizontal li:hover ul { display: block;}
ul.horizontal li li {display: block; }
    


ul.vertical { white-space:nowrap; }
ul.vertical li {position:relative; display:block;}
ul.vertical li a {text-decoration:none; display:block;}

ul.vertical li ul { display:none; position:absolute; z-index:111; right: 100%; top: -100%; margin: 0 ;} 
ul.vertical li:hover ul { display:block; } 
ul.vertical li li { display: block; }

#legal li {display: inline-block; }
































}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
