/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    /* color: #222; */
}

html {
    /* font-size: 1em; */
    /* line-height: 1.4; */
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ADC6D6;
    text-shadow: none;
}

::selection {
    background: #ADC6D6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   m_obile
   ========================================================================== */
.corners  /*border radius*/
{
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.boxshadows-lot
{
    /*Default Text Color Shadow */
    -webkit-box-shadow: 0 0 20px 5px rgba(68,68,68,.5);
    box-shadow: 0px 0px 20px 5px rgba(68,68,68,.5);
}

.boxshadows 
{
    /*Default Text Color Shadow */
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
}
.background 
{
    background-color: rgba(255,255,255,.9);
}

.background.red
{
    background-color: rgba(166,42,1,.9);
}

.background.orange
{
    background-color: rgba(190,80,1,.9);
}

.background.yellow
{
    background-color: rgba(233,129,1,.9);
}

.background.dark-blue
{
    background-color: rgba(4,33,72,.9);
}

.textshadows 
{
    text-shadow: 2px 1px 3px rgba(68,68,68,.5);
}

.textshadows.red
{
    text-shadow: 2px 1px 3px rgba(166,42,1,.5);
}

.textshadows.orange 
{
    text-shadow: 2px 1px 3px rgba(190,80,1,.5);
}

.textshadows.yellow
{
    text-shadow: 2px 1px 3px rgba(233,129,1,.5);
}

.textshadows.dark-blue
{
    text-shadow: 2px 1px 3px rgba(4,33,72,.5);
}

.transition 
{
     -webkit-transition: all 190ms ease-out;
     -moz-transition: all 190ms ease-out;
     -ms-transition: all 190ms ease-out;
     -o-transition: all 190ms ease-out;
     transition: all 190ms ease-out; 
}

/*Padding Classes For more flexible changes*/
.pad-tb {padding-top: 10px; padding-bottom: 10px;}
.pad-sides {padding-left: 20px; padding-right: 20px;}

.margin-tb {margin-top: 10px; margin-bottom: 10px;}
.margin-sides {margin-left: 20px; margin-right: 20px;}

.pad-half-tb {padding-top: 7px; padding-bottom: 7px;}
.pad-half-sides {padding-left: 11px; padding-right: 11px;}

.margin-half-tb {margin-top: 7px; margin-bottom: 7px;}
.margin-half-sides {margin-left: 11px; margin-right: 11px;}

/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
 * apply a natural box layout model to all elements 
 */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

a {
    text-decoration: none;
    border-bottom:2px dotted rgba(166,42,1,.5 );/*Red*/ 
    /*round the top corners on all hyperlinks*/
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px 5px 0px 0px;
    /*enable transitions for all hyperlinks*/
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; 
}
a:link, a:visited {color:rgba(4,33,72,1);} /*Dark Blue*/  
a:active, a:hover, a:focus { /* On Hover change the Background to yellow*/
    background-color: rgba(233,129,1,.35); 
    color: rgba(166,42,1,1);
}

a:focus { /* Same thing as hover but add a bounding box */      
    outline:2px dotted rgba(166,42,1,.5 );
}

/*Use this class where you want a link without any indicators*/
.invisible-link a, .invisible-link a:link, .invisible-link a:visited, .invisible-link a:active, .invisible-link a:hover, .invisible-link a:focus { 
    background-color: inherit;
    transition: none;
    color: inherit;
    border: 0; 
    -webkit-border-radius: 0px 0px 0px 0px; 
    border-radius: 0px 0px 0px 0px;
}


body {
    /*Give the Container a little bit of Space on the sides and bottom*/
    background: url("../img/grey.png") repeat;
    border-top: 4px solid rgba(166, 1, 1, 1);
    padding: 0 10px 25px 10px;
    font-family: 'Lato', sans-serif, helvetica, sans;
    font-size: 16px;
    line-height: 1.6em;
    color: rgba(68,68,68,1);
    background-color: rgba(243,243,243,1);
}
p, pre {
    margin: .8em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', 'Lato', sans-serif, helvetica, sans;
    font-weight: 700;
    color: rgba(166,42,1,1);
    line-height: 1.2em;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
h1 {
    font-size: 315%;
}
.pagetitle {
    font-size: 315%;
    font-variant: small-caps;
}
h2 {
    font-size: 226%;
}
h3 {
    font-size: 190%;
}
h4 {
    font-size: 162%;
}
h5 {
    font-size: 138%;
    font-style: italic;
}
h6 {
    font-size: 118%;
    font-style: italic;
    text-decoration: underline;
}
p {} 
pre, samp, code {
    color: rgb(128, 128, 128);
    font-family: "Ubuntu Mono", monospace;
}
pre {
    overflow: auto;
    width: auto;
    border: 2px solid rgb(233, 129, 1);
    border-left: 10px solid rgb(233, 129, 1);
    background-color: rgba(243,243,243,1);
    padding: .2em .6em;
    -webkit-box-shadow:inset 0 0 5px 1px rgba(68,68,68,.5);
    box-shadow:inset 0 0 5px 1px rgba(68,68,68,.5);
}

blockquote {color: rgb(128, 128, 128);}
cite {color: rgb(128, 128, 128);}
address {
    color: rgb(128, 128, 128);
    padding: 0 0 0 40px;
    font-size: 95%;
}
figure img {
    padding: 7px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
}
figure figcaption {
    margin-left: 10px;
    font-size: 80%;
}

kbd, abbr {
    font-weight: 900;
    text-shadow: 0 0 10px #DF8101;
    font-family: 'Lato', sans-serif, helvetica, sans;
}
mark {
    background-color: rgb(233, 129, 1);
}
span.highlight {
    font-weight: bolder;
    color: #A62A01;
    text-shadow: 0 0 3px #A62A01;
}

em, i {}
strong, b {}

ol, ul {
    margin: 1em 0;
    padding: 0 0 0 40px;
    padding-right: 10px;
    border-right: 6px solid rgb(233, 129, 1);
}
li {
    line-height: 1em;
    margin-bottom: 0.6em;
    padding: 3px;
}

dl {
    padding-right: 10px;
    border-right: 6px solid rgb(190, 80, 1);
}
dt::after { content: ": ";}
dt {
    padding-top: 10px;
}
dd {
    margin-left: 0;
    padding-left: 40px;
    background-color: rgba(173, 198, 214,.3);

}
blockquote {
    padding-right: 10px;
    border-right: 6px solid rgb(4, 33, 72);
}
blockquote::before {
    content: "“";
    float:left;
    margin-top: 14px;
    margin-left: -25px;
    font-size: 400%;
    color:rgb(4, 33, 72);
    font-family: "Signika", "Lato", helvetica, sans-serif;
    text-transform: uppercase;
}
blockquote cite{
    color:  rgba(68,68,68,1);
}

.dropcap{
    float:left;
    font-size:400%;
    margin-top:14px;
    margin-right:5px;
    color:rgb(190, 80, 1);
    font-family: "Signika", "Lato", helvetica, sans-serif;
    text-transform: uppercase;
}

.aside ul, .aside li {padding: 0; margin: 0; list-style-type: none;}

div#container {
    margin: 0 auto;
    max-width:1080px; 
    min-width:320px;/*Default 320px*/ 
    background-color: rgba(255,255,255,.9);
    /*Round Bottom Corners*/
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
}

/*Goes around sidebars and content to give them space from the sides*/
div#wrapper {padding: 20px;}

header, footer, nav#tools, nav#main, nav#skip, nav#legal, section#content
{
    /*margin: 0;
    padding: 0;*/
    height: auto;
}
footer { 
    border-top: 4px solid rgba(166, 1, 1, 1);
    }


header img {max-height: 100px; max-width: 100%;}
footer img {max-height: 1.3em ;}
/*The following have custom styles for the desktop version*/
/*These reset the above hyperlink styles for mobile*/
a:active, a:hover, a:focus { /* On Hover change the Background to yellow*/
    background-color: rgba(233,129,1,.35); 
    color: rgba(166,42,1,1);
}

a:focus { /* Same thing as hover but add a bounding box */      
    outline:2px dotted rgba(166,42,1,.5 );
}
nav ul {border: 0; }
nav a {display: block;}
nav#legal a {display: initial;}
nav#skip ul, nav#skip li {margin: 0;}
/*Reset Navigation Link Styles*/
nav#main a:link, nav#main a:visited, 
nav#tools a:link, nav#tools a:visited,
nav#skip a:link, nav#skip a:visited {
    font-weight: 900;
    font-size: 103%;
    /*Reset Undesirable Changes for navigation links */
     border: 0;
     -webkit-border-radius: 0px 0px 0px 0px; 
     border-radius: 0px 0px 0px 0px; 
}
nav#main a:active, nav#main a:hover, nav#main a:focus, nav#main a.current,
nav#tools a:active, nav#tools a:hover, nav#tools a:focus, nav#tools a.current,
nav#skip a:active, nav#skip a:hover, nav#skip a:focus, nav#skip a.current {background-color: rgba(166, 42, 1, .95); color: rgb(243, 243, 243)}

/*Manage Spacing for the Groups of links in Mobile View*/
nav ul {padding: 0 20px; }
/*Make Skip Top Menu Horizontal */
#skip .horizontal ul, #skip .horizontal li {padding: 0; margin: 0;}
#skip .horizontal li {width: 50%;}
#skip a {padding: 5px; width: 100%;}
#skip ul.horizontal { white-space: nowrap; text-align: center; }
#skip ul.horizontal li { position: relative; display: inline-block; vertical-align: top; }
#skip ul.horizontal li a { display: inline-block; text-decoration: none; }

.aside {
    width: 80%;
    margin: 0 auto;
}
.aside img { max-width: 100%; }
table {
    width: 90%;
    border-collapse: collapse;
    background-color: transparent;
    font-size: 105%;
}
table caption {
    padding: 0 0 10px 0;
}
th, td {
    padding: 3px 7px;
}
th {
    color: rgba(166,42,1,1);
}
thead {
    border: 2px solid rgba(166,42,1,1);
}
thead tr, thead th, thead td{
    border-bottom: 4px solid rgba(190,80,1,1);
    font-weight: bolder;
    background-color: rgba(166,42,1,1);
    color: white;
}
tfoot {
    border: 2px solid rgba(190,80,1,1);
}
tfoot tr, tfoot th, tfoot td{
    border-top: 4px solid rgba(190,80,1,1);
    font-weight: bolder;
    background-color: rgba(233, 129, 1,.25);
}
tbody{
     border: 2px solid rgba(190,80,1, 1);
}
tbody th {
    border-right: 2px solid rgba(190,80,1, 1);
}
tbody tr:nth-child(odd) {
    background-color: rgba(173, 198, 214, .5);
    color: rgba(34,34,34,1);
}


video, audio, iframe, object, embed {
    border: 0;
    width: 100%;
    max-width: 560px;
    height: 315px;
    }
cite {
    
}

nav#main a, nav#tools a, nav#skip a {
    padding: 5px 20px;/*Padding gives items size*/ 
    margin: 0;
}

.aligncenter {text-align: center; margin: 0 auto;}
.gallery ul, ul.gallery {border: 0; }
ul.gallery, .gallery li, .gallery ul {margin: 0; padding: 0;list-style-type: none; text-decoration: none; text-align: center;}

ul.gallery li img {
    padding: 5px 5px 0 5px;
    width:100%;
    }
ul.gallery ul li {/* The height and padding must add up to the height of the LI above.  */
    /* Turn off and change inherited properties. */
    font-size: 80%;
    padding: 5px;
    width: 100%;
    line-height:1.1em;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.gallery li {
    /*Default Text Color Shadow */
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    margin: 10px 0;
    }  

ul.gallery li ul li {
    margin: 0;
    padding: 8px 0;
}


.fit-content {width: 100%; text-align: center; vertical-align: middle;}
.small-font {font-size: 80%;}

form {}
fieldset {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5); 
    margin: 10px 5px;
    padding: 10px;
    background-color: rgba(173, 198, 214, .5)
}
fieldset legend {
    background-color: rgba(255,255,255,.9);
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    margin: -5px;
}
label {
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 0;
}
input {
    width: 100%;
}
textarea {
    width: 100%;
    border: 0;
}

div.inline label {
    display: inline;
    padding-right: 20px;
    width: auto;
}
div.inline input {
    width: auto;
}
.inline {
    display: block;
    width: auto;
}
/* Box Styles infulenced by http://getbootstrap.com/css/ (the twitter bootstrap css styles) */
textarea, select, option, input {
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus, textarea:focus, select:focus, option:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type = "reset"], input[type = "submit"] {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 4px;
}


























































































































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 50em) {
    /*This seemed like the best way to do this*/
.center-on-mobile {
    text-align: center;
    margin: 0 auto;
}
.shrink-on-mobile {
    width: 80%;
}
}
@media only screen and (min-width: 30em) {
    /*Make the horizontal stuff a little bit cleaner in the in-between area
/*************************************************************************
 * Horizontal Menus
 */
/*Make Menus Horizontal */
ul.horizontal { text-align: center;}
ul.horizontal li { position: relative; display: inline-block; vertical-align: top; }
ul.horizontal li a { display: block; text-decoration: none; }
/*IE FIX/
ul .horizontal li { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; position: relative; }
/*Slide Out Menus*/
ul.horizontal li ul 
{ 
    /*display: none;*/
    position: absolute; 
    top: 100%;
    z-index: 999;
    /* http://stackoverflow.com/questions/3331353/transitions-on-the-display-property
     * Transparent Fade Effect*/
    visibility: hidden;
    opacity: 0;
}
ul.horizontal li:hover ul {/* display: block;*/ visibility: visible; opacity: 1; }
ul.horizontal li li {display: block; }


/*************************************************************************
 * Vertical Menus
 */
/*Make Menus Vertical */

ul.vertical { white-space:nowrap; }
ul.vertical li {position:relative; display:block;}
ul.vertical li a {text-decoration:none; display:block;}
/*Slide Out Menues*/
ul.vertical li li { display: block; }

footer li {padding: 0 5px;}
nav#legal a { display: inline; }

nav#legal ul > li:not(:last-child):after { content: " ♦ "; }

.horizontal ul, .horizontal li {padding: 0; margin: 0;}

.leftcolumn, .rightcolumn
{
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
}

ul.gallery, .gallery li, .gallery ul {margin: 0; padding: 0;text-decoration: none; text-align: center;}
ul.gallery li {
    width:180px;
    max-height:230px;
    vertical-align: top;
    display: inline-block; /* Sets each block side by side. */
    position:relative;
    padding: 5px;
    margin:0 10px 10px 0; /* Add breathing room between each block. */
    
    /*Default Text Color Shadow */
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    }  
ul.gallery li li { 
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.gallery li img { /* This block inherits mobile properties. */
    padding: 0px;
    width:170px;
    height:auto; /* This gallery method works best with square thumbnails. */
    }
ul.gallery ul {/* This block inherits mobile properties.
    The height should be the remaining portion of the LI above. */
    margin-top: 5px;
    display: block;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    }
ul.gallery ul li {/* The height and padding must add up to the height of the LI above.  */
    /* Turn off and change inherited properties. */
    }
ul.gallery li:hover img {/* Enlarge size of image when hovering. */
    /* Allow image's full dimensions to display. */
    width:auto;
    height:auto;
    /* Position it for ease of use. */
    position:relative;
    left:-50%; /* Center the image under the thumbnail. */
    z-index:100;
    border: 5px solid rgba(255, 255, 255, 1);
    top: -5px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    box-shadow: 1px 1px 5px 1px rgba(68,68,68,.5);
    }
ul.gallery li:hover ul {/* Show the caption block in the popup. */
    /* Position the caption on top of the image. */
    position: absolute;
    top: 0;
    width: 400px;
    left: -50%;
    z-index:150;
    background-color: transparent;
    }
ul.gallery li:hover ul li {/* Allow the text to fill the block. */
    width:400px;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, .60);
    left: 15px;
    top: 0;
    height: auto;
    padding: 5px;
    font-weight: bolder;
    }

fieldset.inline {
    width: 47%;
    display: inline-block;
    vertical-align: top;
}

}
    
/*desktop desktop */
@media only screen and (min-width: 50em) {
    /* Style adjustments for viewports that meet the condition }*/

.leftcolumn
{
    float: left;
    margin-right: 20px;
}

.rightcolumn
{
    float: right;
    margin-left: 20px;
}

.leftcolumn, .rightcolumn
{
    width: 225px;
}
/*Uncomment to make sidebars sticky
section#leftcolumn nav, section#rightcolumn nav
{
    position: fixed;
}
*/
section#content
{
    width: auto;
    margin-right: 245px;
}

footer
{
    clear: both; /*Has to do with columns*/
}

/*Decorative Border Effects*/
h1, h2, h3, h4, h5, h6 {
    text-align: left;
}
h1 {
    padding-left: 15px;
    border-left: 20px solid rgb(233, 129, 1);
}
.pagetitle {
    border: 0;
    padding-left: 0;
}
h2 {
    padding-left: 9px;
    border-left: 12px solid rgb(190, 80, 1);
}
h3 {
    padding-left: 6px;
    border-left: 8px solid rgb(166, 42, 1);
}
h4 {
    padding-left: 4px;
    border-left: 5px solid rgb(4, 33, 72);
}

/*Goes around sidebars and content to give them space from the sides*/
div#wrapper {padding: 30px 20px 0 20px;}

nav ul, nav li {padding: 0; margin: 0;}

/*************************************************************************
 * Vertical Menus
 */
/*Make Menus Vertical */

ul.vertical { white-space:nowrap; }
ul.vertical li {position:relative; display:block;}
ul.vertical li a {text-decoration:none; display:block;}
/*Slide Out Menues*/
ul.vertical li ul 
{ 
    /*display:none;*/ 
    position:absolute; 
    z-index:999; 
    right: 100%; 
    top: -100%;
    /* http://stackoverflow.com/questions/3331353/transitions-on-the-display-property
     * Transparent Fade Effect*/
    visibility: hidden;
    opacity: 0;
} 
ul.vertical li:hover ul { /* display: block;*/ visibility: visible; opacity: 1; } 
ul.vertical li li { display: block; }


header {
    background:url("../img/paper-overlay.png") repeat center center, url("../img/creativecommonsuserlittle-mountain-5-pilot-rock-panorama-from-summit-lossy.jpg") no-repeat center 100%;
}










}























































































































































































































@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print { 
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
        border: 0 !important;
        text-size: 11px;
        line-height: 1em;
        border-width: 0;
        margin: 0;
        padding: 0;
        float: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }
/*
    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        width: auto;
    }

    @page {
        margin: 0.5cm;
    }

    p {
        orphans: 3;
        widows: 3;
    }
/*Use Points*/
body {
    /*Give the Container a little bit of Space on the sides and bottom*/
    font-family: garamond, sans-serif, helvetica, sans;
    font-size: 11pt;
    line-height: 1.2em;
}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        orphans: 3;
        widows: 3;
        margin: 0;
        padding: 0;
    }
    p {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    img { margin: 0 auto; text-align: center;}
    header * { display: none;}
    header::before {content: url('../img/epic-photography-bw.png') };
    header img { /*Doesn't Work, Don't Know Why*/
        width: 250pt;
        height: auto;
    }
    p.no-print-message * {display: none;} 
    p.no-print-message::before {content: "Sorry, the following media cannot be printed:";}
    .no-print {display: none;}


    form, fieldset, legend, label, input, select, option, textarea, fieldset legend {
        margin: 3pt 0;
        padding: 0;
        height: auto;
    }

    div.inline label,
    div.inline input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul.gallery li img {
        width: 250pt;
        height: auto;
    }

    ul.gallery li {
        display: inline-block;
    }
    nav {display: none; }
    





}
